* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

#secondPerson {
  display: none;
}

h1 {
  text-align: center;
}

.errorMessage {
  color:red;
}

body {
  margin:0;
}

#Content {
  display: flex;
  flex-direction: column;
}

.formElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h2 {
  width: 50%;
}

form, #displayWait {
  margin: 10px;
}


select, input {
  height: 25px;
  width: 150px;
}

#buttons {
  justify-content: space-between;
}

.btn {
  width: 45%;
}
.prevSignedUp {
  border-style: solid;
  border-width: 2px;
  border-radius: 7.5px;
  padding: 5px;
  text-align: center;
  background-color: coral;
  margin-bottom: 10px;
}

.prevSignedUp p {
  color: white;
}

.prevSignedUp .studentName {
  color: white;
}

#listHeader {
  text-align: center;
  width: auto;
}

@media screen and (min-width: 700px) {
  #Content {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  #studentForm {
    width: 50%;
    height: auto;
    padding: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
  }

  #displayWait {
    width: 50%;
    padding: 10px;
    padding-left: 5px;
    margin:0;
  }
}